* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.o-app {
}

.o-header {
  color: #ffffff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(42, 42, 125, 0.46);
  background-color: #0c061e;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 10px;
  // position: fixed;
  width: 100%;

  &__logo {
  }

  &__header {
  }

  &__desc {
    margin-left: 30px;
    margin-right: auto;
  }

  &__descBtn {
    background: #0c061e;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    height: 50px;
    padding: 0.9375rem;

    &:hover {
      color: inherit;
      background: rgba(200, 200, 200, 0.2);
    }
  }

  &__auth {
  }

  &__authBtn {
    background: #0c061e;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    height: 50px;
    padding: 0.9375rem;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}

.o-footer {
  background-color: #0c061e;
  color: white;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin-top: 10px;
  padding: 1.5rem 0;

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: white;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover {
      color: #89229b;
    }
  }

  &__desc {
    font-size: 14px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__images {
    margin-top: 30px;
  }
}
