* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.o-app {
}

.o-header {
  color: #ffffff;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(42, 42, 125, 0.46);
  background-color: #0c061e;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 10px;
  position: relative;
  width: 100%;

  &__logo {
  }

  &__desc {
    margin-left: 30px;
    margin-right: auto;
    display: none;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__hamburger {
    width: 20px;
    height: 5px;
    background: white;
    position: absolute;
    right: 30px;
    top: 30px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 5px;
      background: white;
    }

    &::before {
      content: '';
      width: 20px;
      height: 5px;
      background: white;
    }
  }

  &__descBtn {
    background: #0c061e;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    height: 50px;
    padding: 0.9375rem;
    cursor: pointer;

    &:hover {
      color: inherit;
      background: rgba(200, 200, 200, 0.2);
    }
  }

  &__auth {
    display: none;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__authBtn {
    background: #0c061e;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    height: 50px;
    padding: 0.9375rem;
    text-transform: uppercase;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 10px;
    }
  }
}

.o-footer {
  background-color: #0c061e;
  color: white;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin-top: 10px;
  padding: 1.5rem 0;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover {
      color: #89229b;
    }
  }

  &__desc {
    font-size: 14px;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
      margin-left: 0;
    }
  }

  &__images {
    margin-top: 30px;
  }
}

.m-tournaments {
  &__header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    color: rgb(42, 42, 125);
    font-size: 50px;
  }

  &__cardWrapper {
    max-width: 850px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    gap: 30px;
  }
}

.m-card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;

  width: 250px;

  // &:nth-child(3n),
  // &:nth-child(3n + 1),
  // &:nth-child(3n + 2) {
  //   margin-top: 100px;
  // }

  // &:first-child,
  // &:nth-child(2),
  // &:nth-child(3) {
  //   margin-top: 0;
  // }
  margin-bottom: 20px;
  &__backImg {
    width: 100%;
    height: 180px;
  }

  &__desc {
    padding: 20px 10px 40px 20px;
  }

  &__gameName {
    font-weight: bold;
  }

  &__gameDesc {
    margin-bottom: 20px;
    font-weight: bold;
  }
}
